<%-include("./partials/header")%>
<%-include("./partials/navbar")%>


<div class="container mt-1 p-5">
    <h2>All Blogs</h2>

    <% allBlogs.forEach(blog=>{%>
    <div class="card mt-3">
        <div class="card-body">
          <p class="text-muted fs-8">Published at:<%= blog.postedAt%></p>
          <h5 class="card-title"><%= blog.title%></h5>
          <p class="card-text"><%= blog.content.slice(0,99)%>.... <a href="/show/<%=blog._id%>">Read More</a></p>
          <a href="/show/<%=blog._id%>" class="btn btn-primary">Read More...</a>
          <a href="/delete/<%=blog._id%>" class="btn btn-danger ml-auto">Delete</a>
          <a href="/edit/<%=blog._id%>" class="btn btn-warning ml-auto">Edit</a>
        </div>
      </div>
    <% })%>

   
</div>

<%-include("./partials/footer")%>